@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent-red: #CD1C18;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

html,
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

input,
textarea,
[contenteditable="true"] {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  cursor: text;
}


::selection {
  background: var(--accent-red);
  color: white;
}
.font-madmob {
  font-family: var(--font-madmob), sans-serif;
}

@keyframes madfestModalFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
